/*
El modelo de css es Selector + propiedad+ valor */

/* el formato es 
Selector {
propiedad: valor
}
*/ 
p {
    color: #2b2b2b;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    background: linear-gradient(to bottom right,#5bbde4, #9b9b9b)
}